<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
      <div class="container-fluid">
        <div class="d-grid grid-template-col-sm-2 grid-template-col-lg-4">
          <div class="px-3 text-center">
  
              <img src="{{ asset('img/logo.png') }}" class="">
            
          </div>
          <div>
            <h5> Servicio al cliente</h5>
            <div class="list-group list-group-flush list-group-no-border list-group-sm">
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">Enviar whatsApp</a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">Enviar correo</a>
              <a href="faq.html" class="list-group-item list-group-item-action">Preguntas</a>
            </div>
          </div>
          <div>
            <h5>Paginas</h5>
            <div class="list-group list-group-flush list-group-no-border list-group-sm">
              <a href="about.html" class="list-group-item list-group-item-action"> Conocenos </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action"> Contacto</a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action">Facturación</a>
             
  
            </div>
          </div>
          <div>
            <h5> Facturación </h5>
  
            <a href="javascript:void(0)" class="download-app">
              <div class="media">
                <img src="../../img/app/google-play.svg" alt="Google Play Logo" height="30">
                <div class="media-body">
                  <small> Genera tu </small>
                  <h5>  factura en línea</h5>
                </div>
              </div>
            </a>          
  
          </div>
        </div>
      </div>
    </div>
  
    <div class="copyright"> Caleidoscopio Libreria Oaxaca, México. </div>
</body>
</html>