<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <div class="container-fluid">
        <nav class="nav nav-circle d-flex d-lg-none">
          <a href="#menuModal" data-toggle="modal" class="nav-link nav-icon"><i class="material-icons">menu</i></a>
        </nav>
        <nav class="nav ml-3 ml-lg-0">
          <a href="index.html" class="nav-link has-icon p-0 bg-white">
            <img src="../../../img/boton-lobito-negro.png" alt="Logo" height="40">
          </a>
        </nav>
  
        <nav class="nav nav-main nav-gap-x-1 nav-pills ml-3 d-none d-lg-flex">
          <div class="nav-item dropdown dropdown-hover">
            <a class="nav-link dropdown-toggle no-caret forwardable active" href="index.html" id="homeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Inicio
            </a>
          </div>
  
          <div class="nav-item dropdown dropdown-hover">
            <a class="nav-link dropdown-toggle no-caret forwardable" href="shop-categories.html" id="shopDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Conocenos
            </a>
          </div>
  
          <!--Mega menu-->
          <div class="nav-item dropdown dropdown-hover dropdown-mega">
            <a class="nav-link dropdown-toggle no-caret" href="#" id="megaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
              Eventos
            </a>
            <div class="dropdown-menu" aria-labelledby="megaDropdown">
              <div class="row">
                <div class="col-lg-3">
                  <div class="list-group list-group-flush list-group-no-border list-group-sm">
                    <a href="shop-grid.html" class="list-group-item list-group-item-action"><strong>CLOTHING</strong></a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Polos &amp; Tees</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Casual Shirts</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Jeans</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Casual Trousers</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Formal Shirts</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Formal Trousers</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Suits &amp; Blazers</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Shorts &amp; 3/4ths</a>
                  </div>
                </div>
                <div class="col-lg-3 border-left">
                  <div class="list-group list-group-flush list-group-no-border list-group-sm">
                    <a href="shop-grid.html" class="list-group-item list-group-item-action"><strong>FOOTWEAR</strong></a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Sports Shoes</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Sneakers</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Casual Shoes</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Loafers</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Formal Shoes</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Boots</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Outdoor &amp; Hiking</a>
                    <a href="shop-grid.html" class="list-group-item list-group-item-action">Floaters</a>
                  </div>
                </div>
                <div class="col-lg-3 border-left">
                  <div class="img img-zoom-in w-100 h-100">
                    <div data-cover="../../img/categories/1.jpeg"></div>
                    <div class="overlay overlay-show bg-dark"></div>
                    <div class="overlay-content overlay-show flex-column text-white">
                      <h4 class="card-title text-center">New Men's Fashion</h4>
                      <h6>See what's new</h6>
                      <a href="shop-grid.html" class="btn btn-primary rounded-pill">Shop Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 border-left">
                  <div class="img img-zoom-in w-100 h-100">
                    <div data-cover="../../img/categories/6.jpeg"></div>
                    <div class="overlay overlay-show bg-dark"></div>
                    <div class="overlay-content overlay-show flex-column text-white">
                      <h4 class="card-title text-center">New Women's Fashion</h4>
                      <h6>See what's new</h6>
                      <a href="shop-grid.html" class="btn btn-danger rounded-pill">Shop Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <a class="nav-item nav-link" href="components.html">
            Contacto
          </a>
        </nav>
  
        <nav class="nav nav-circle nav-gap-x-1 ml-auto">
          <a class="nav-link nav-icon" data-toggle="modal" href="#searchModal">
            <i class="material-icons">search</i>
          </a>
        </nav>
  
      </div>
    </header>
</body>
</html>